body, html {
    height: 100%;
    margin: 0;
}

#container {
    width:100%;
    text-align:center;
    margin: 0px;
    padding: 0px;
}

#left {
    float:left;
    width:22%;
    height: 100%;
    /* background-color: grey; */
}

#center {
    display: right;
    float: right;
    margin:0 auto;
    width:78%;
    height: 100%;
    background: #00ff00;
}

#right {
    float:right;
    width:0px;
    height: 0px;
    background: #0000ff;
}

#profile {
    width: 100%;
}

.logo {
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
}

#github {
    width: 50%;
    margin-top: 20px;
}

#stackoverflow {
    width: 80%;
}

#twitter {
    width: 50%;
}

#header {
    width: 100%;
    height: 80px;
    background-color: #0000ff;
}

#content-body {
    background-color: #0000af;
}

#profile-container {
    position: relative;
    width: 100%;
}

#title-container {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-color: #00000044;
    align-items: center;
}

#title {
    font-family: 'Heiti TC';
    font-size: 35px;
    padding: 10px;
    color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#heading {
    font-family: 'Heiti TC';
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}

#description {
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}